/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin-bottom: 5%;
}

.btn-danger {
  color: #fff;
  background-color: #ee6f57;
  border-color: #ee6f57;
}

.btn-danger:hover {
  background-color: #eb593d;
}

.list-title {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-family: arial, sans-serif;
}

.data-list {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  margin-bottom: 5%;
}

.data-list td, .data-list {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-list tr:nth-child(even){background-color: #f2f2f2;}

.data-list tr:hover {background-color: #ddd;}

.data-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1f3c88;
  color: white;
}
